<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="margin-left: 3rem" class="navbar-brand" asp-controller="Home" asp-action="Index">IT3047C Final Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ul-custom-margin">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="membersDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Members
                    </a>
                    <div class="dropdown-menu" aria-labelledby="membersDropdown">
                        <a class="dropdown-item" href="#">Eric Miller</a>
                        <a class="dropdown-item" href="#">Miriam Boni</a>
                        <a class="dropdown-item" href="#">Steele Shreve</a>
                        <a class="dropdown-item" href="#">Zion Ivery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="DatabaseInfo" asp-action="Index">Database Info</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="text-center my-5">
        <div class="container">
            <p>&copy; 2023 IT3047C Final Project. Eric Miller, Miriam Boni, Steele Shreve, Zion Ivery</p>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
