<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/darkmode.css" rel="stylesheet" type="text/css" />
</head>
<nav style="padding-left: 3rem;" class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">IT3047C Final Project</a>
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon white-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="membersDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Members
                </a>
                <div style="border: none" class="dropdown-menu" aria-labelledby="membersDropdown">
                    <a class="dropdown-item" href="#">Eric Miller</a>
                    <a class="dropdown-item" href="#">Miriam Boni</a>
                    <a class="dropdown-item" href="#">Steele Shreve</a>
                    <a class="dropdown-item" href="#">Zion Ivery</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="DatabaseInfo" asp-action="Index">Database Info</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container fade-in">
    @RenderBody()
</div>
<footer class="text-center my-5">
    <div class="container">
        <p>&copy; 2023 IT3047C Final Project. Eric Miller, Miriam Boni, Steele Shreve, Zion Ivery</p>
    </div>
    <div style="cursor: pointer; color: #e0e0e0" class="d-flex justify-content-center my-3">
        <button class="btn btn-primary" id="darkModeToggle"></button>
    </div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
