    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4">IT3047C Final Project: Reading as a hobby</h1>
                <p>Welcome to our final project for IT3047C. Group members: Eric Miller, Miriam Boni, Steele Shreve, and Zion Ivery, share a passion for reading. This project was created as a way to showcase our favorite books, the ones we're currently reading, and the ones we want to read in the future.</p>

                <h2 class="my-4">Features</h2>
                <p>Our project is built using the ASP.NET Core MVC framework in combination with CSS and JavaScript, which allows us to create a web application that is both dynamic and responsive. With this framework, we've developed an application that lets us:</p>
                <ul>
                    <li>Add books to our database</li>
                    <li>Display the books we're currently reading</li>
                    <li>Showcase our favorite books</li>
                    <li>List the books we want to read</li>
                </ul>
            <h2 class="my-4">Project Requirements</h2>
            <ul id="requirementslist">
                <li>
                    <input type="checkbox" id="menu" checked >
                    <label for="menu">Menu</label>
                </li>
                <li>
                    <input type="checkbox" id="crud" checked >
                    <label for="crud">CRUD</label>
                </li>
                <li>
                    <input type="checkbox" id="pages" checked >
                    <label for="pages">6 or more pages</label>
                </li>
                <li>
                    <input type="checkbox" id="database" checked >
                    <label for="database">Database</label>
                </li>
                <li>
                    <input type="checkbox" id="db_info" checked >
                    <label for="db_info">Page to display database info</label>
                </li>
                <li>
                    <input type="checkbox" id="view_folders" checked >
                    <label for="view_folders">View folders per controller</label>
                </li>
                <li>
                    <input type="checkbox" id="shared_folder" checked >
                    <label for="shared_folder">Shared folder with _Layout, _ViewStart, _ViewImports</label>
                </li>
                <li>
                    <input type="checkbox" id="www_root" checked >
                    <label for="www_root">www-root with JQuery/Bootstrap/CSS</label>
                </li>
                <li>
                    <input type="checkbox" id="connection_string" checked >
                    <label for="connection_string">Connection String in AppSettings</label>
                </li>
                <li>
                    <input type="checkbox" id="dbcontext_di" checked >
                    <label for="dbcontext_di">DBContext using Dependency Injection</label>
                </li>
            </ul>
            </div>
        </div>
    </div>
